/* Stylez */
body {font-family: Franklin Gothic Book, Source Sans Pro, Helvetica Neue, sans-serif;
  margin: 0 auto;
  /*background: #efefef;*/
  line-height: 1.8em;
  /*padding: 12px;*/
  box-sizing: border-box;

  max-width: 800px;
  margin: auto;
  overflow: auto;
  /*text-align: center;*/

  color: #333;}
body, html {height: 100%;}

.wrapper {box-sizing: border-box;
  /*background: #fff;*/
  /*box-shadow: 0 0 5px #888;*/
  /*box-shadow: 0 0 5px #888;*/
  /*height: 100%;*/
  /*width: 50%;*/
  /*max-width: 800px;*/
  /*margin: auto;*/
  overflow: auto;
  padding: 40px 10px;}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 20px;
}

.center {
  text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

a {color: #777; text-decoration: none; border-bottom: 1px solid #CCFF26;}
a:hover {border-bottom: 1px solid #CCFF26; color: #222}
p {font-weight: 200; font-size: 20px;}

.name {font-family: Playfair Display; font-size: 50px; font-weight: 900; margin-bottom: 0px; margin-top: 0px}

.name_blog {font-family: Playfair Display; font-size: 50px; font-weight: 900; margin-top: 0px}

.name_sub {font-family: Playfair Display;}

.blog_quote {font-family: Playfair Display; margin-bottom: -10px;}

.subtitles {font-family: Playfair Display; font-size: 35px; font-weight: 700; padding-bottom: 0px;}

.date {font-family: Verdana; font-size: 20px; padding-bottom: 20px;}

.meta {font-family: Courier New, Quicksand, "Helvetica Neue", "Arial", sans-serif; font-size: 11px; letter-spacing: .15em;}
.meta a:hover {border-bottom: 1px solid #CCFF26; color: #333;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {padding-right: 40px;}
footer {margin: 0 auto; bottom: 0px; padding: 40px 0;}

/*Styles for the message form*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*Blog Stylez*/
p.groove {border-style: groove;}

/*CV Stylez*/
/*Creating two columns for the CV*/
.column {
  float: left;
}

.left {
  width: 15%;
}

.right {
  width: 85%;
}
.reduce_bottom_margin {
  margin-bottom: 0px;
}

.reduce_bottom_margin_increase_top_margin {
  margin-top: 1cm;
  margin-bottom: 0px;
}

.cv_description {
  font-size: 16px; margin-top: -20px;
}

hr {
    border: none;
    margin-top: 1cm;
    border-top: 5px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

/*hr:after {*/
/*    background: #fff;*/
/*    content: 'ยง';*/
/*    padding: 0 4px;*/
/*    position: relative;;*/
/*}*/